/* genre.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images.jfif') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px 40px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    padding: 40px 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.genre-grid {
    display: grid;
    background-color: rgb(245, 242, 242);
    opacity: 0.8;
    list-style-type: none;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#movieList li {
    font-size: 18px;
    background-color: rgba(170, 149, 26, 0.1);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    display: inline-block;
}

#movieList li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}
